body {
    display: flex;
    flex-direction: column;
  font-family: 'Inter', sans-serif;
  background-color: rgb(20, 19, 16);
  color: rgb(189, 160, 74);
  /* Ensures the body covers the full viewport height */
  min-height: 100vh; 
  margin: 0;
}

header{
    display: flex;
    flex-direction: column;
    border-bottom: 4px solid rgb(189, 160, 74);
    background-color: rgb(20, 19, 16);
}

.header-logo{
    display: flex;
    /* outline: 2px solid yellow; */
    justify-content: space-between;
}

.logo-img{
    /* outline: 2px solid purple; */
    height: 100px;
}

.titleAndLinks{
    /* outline: 4px solid khaki; */
    display: flex;
    flex-direction: column;
}

.companyName{
    /* outline: 4px solid lime; */
    font-size: 52px;
    /* font-weight: 600; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.header-links{
    /* outline: 2px solid yellow; */
    display: flex;
    justify-content: center;
    gap: 5%;
    font-size: x-large;
    padding: 1%;
    text-decoration: none;
}

a{
    text-decoration: none;
    color:rgb(189, 160, 74);
}

a:hover{
    text-decoration: underline;
    text-underline-offset: 8px;
    color: white;
    /* font-weight: bold; */
}  



/* Services Page */
.servicesContainer{
    outline: 2px solid lime;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.serviceCard{
    background-color: white;
    width: 40%;
    height: 200px;
}

.servicesText{
    width: 50%;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    outline: 2px solid yellow;
    font-size: xx-large;
    
}

main{
    flex: 1; /* This makes the main content area grow and fill the space between the header and footer */
}

/* front page of website */
.bodyContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* outline: 2px solid red; */
}

.bodyIntro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* outline: 2px solid green; */
    width: 70%;
    font-size: x-large;
    text-align: center;
    padding: 5%;
}

.bodyTraining{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgb(189, 160, 74);
    /* outline: 2px solid green; */
    width: 70%;
    font-size: x-large;
    text-align: center;
    padding: 5%;
}

.bodyConsulting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* outline: 2px solid green; */
    border-top: 2px solid rgb(189, 160, 74);
    width: 70%;
    font-size: x-large;
    text-align: center;
    padding: 5%;
}

.learnButton{
    background-color: black;
    color: rgb(189, 160, 74);
    padding: 20px;
    border-radius: 30px;
    font-size: large;
    border: 2px solid rgb(189, 160, 74);
    font-weight: bold;
}
.learnButton:hover{
    background-color: rgb(189, 160, 74);
    color: white;
    cursor: pointer;
}

/* footer secition */
footer{
    margin: 0;
    display: flex;
    background-color: rgb(189, 160, 74);
    height: 250px;
    color: black;
    /* outline: 3px solid greenyellow; */
    justify-content: center;
    align-items: center;
    /* margin-top: 600px; */
    padding: 3%;
    gap: 10%;
    font-weight:500;
}
footer a{
    color: black;
}
footer a:hover{
    color:white
}


.leftInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 10px; */
    gap: 30px;
    font-size: x-large;
    padding: 60px;
    border-right: 2px solid black;
    border-left: 2px solid black;
    /* border: 2px solid red; */
}


.siteLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: larger;
    gap: 35px;
}

/* about page */
.aboutContainer{
    /* outline: 3px solid yellow;
    display: flex;
    flex-direction: column;
    
    width: 70%;
    align-items: center;
    justify-content: center; */
    
    /* text-align: center; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* outline: 2px solid green; */
    width: 70%;
    font-size: x-large;
    text-align: center;
    padding: 5%;
}


/* contact page */
.container
{
    display: flex;
    /* outline: 2px solid green; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* width: 70%; */
}

.formContainer{
    border: 2px solid yellow;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
    padding: 20px;
}